@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #EFEAE3;
}

.nav-links-1:hover .nav-links-layer-1{
  transform: translateY(-20%);
  color: white;
  z-index: -10;

}
.nav-links-2:hover .nav-links-layer-2{
  transform: translateY(-20%);
  color: white;
  z-index: -10;

}
.nav-links-3:hover .nav-links-layer-3{
  transform: translateY(-20%);
  color: white;
  z-index: -10;

}
.nav-links-1:hover{
  /* transform: translateY(-20%); */
  color: white;
  z-index: 100;

}
.nav-links-2:hover{
  /* transform: translateY(-20%); */
  color: white;
  z-index: 100;

}
.nav-links-3:hover{
  /* transform: translateY(-20%); */
  color: white;
  z-index: 100;

}
.nav-links-layer{
  transition: all ease 0.3s;
}
.ani-1{
  animation-name: anime1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.ani-2{
  animation-name: anime2;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.ani-3{
  animation-name: anime3;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.ani-4{
  animation-name: anime4;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.ani-5{
  animation-name: anime5;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
.ani-6{
  animation-name: anime6;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  
}
.ani-7{
  animation-name: anime7;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.ani-8{
  animation-name: anime8;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.marque{
  animation-name: marque-anime;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes anime1{
  from{
    transform: translate(-10%,10%);
  }
  to{
    transform: translate(10%,-10%);
  }
}
@keyframes anime3{
  from{
    transform: translateY(80px);
  }
  to{
    transform: translateY(20%,-20%);
  }
}
@keyframes anime2{
  from{
    transform: translateY(-50px);
  }
  to{
    transform: translateY(50px);
  }
}
@keyframes anime4{
  from{
    transform: translateX(80px);
  }
  to{
    transform: translateX(20%,-20%);
  }
}
@keyframes anime5{
  from{
    transform: translate(-10%,10%) skew(-20deg);
  }
  to{
    transform: translate(10%,-10%) skew(20deg);
  }
}
@keyframes anime6{
  from{
    transform: translateY(-100px);
  }
  to{
    transform: translateY(100px);
  }
}
@keyframes anime7{
  from{
    transform: rotate(-10deg);
  }
  to{
    transform: rotate(-10deg);
  }
}
@keyframes anime8{
  from{
    transform: rotate(10deg);
  }
  to{
    transform: rotate(0deg);
  }
}

@keyframes marque-anime{
  from{
    transform: translateX(0%);
  }
  to{
    transform: translateX(-100%);
  }
}

.elem:hover .elem-layer{
  transform: translateY(0%);
}
.fixed-div{
  pointer-events:none ;
}

.wrapper{
  z-index: 9999;
}
